# compiled output
/dist
/demo/dist
/tmp
.awcache/

# dependencies
/node_modules
npm-debug.log

# IDEs and editors
/.idea
.project

# misc
/connect.lock
/coverage/*
npm-debug.log

#System Files
.DS_Store

# Ignored files
*.js
*.map
*.d.ts